@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

.osrodek {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.9;
    color: #555555;
    
}

h2 {
    color: #333333;
    font-weight: 600;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.element {
    padding: 20px;
    max-width: 70%;
    margin: 0 auto 20px;
}

.element h2 {
    margin-bottom: 20px;
}

.element ul li {
    margin-bottom: 10px;
}

.element p {
    margin-bottom: 15px;
    
}

section {
    margin-bottom: 30px;
    
}
